/* Login.js */
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display");
* {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font-family: "Red Hat Display";
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.mamamia {
	height: 586px;
	width: 426px;
	padding-right: 100px;
}

.login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.login-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 18px;
	padding: 30px;
	width: 470px;
}

.login-text-field,
.login-button,
.login-divider,
.login-to-signup {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-divider {
	color: rgb(139, 137, 137);
}

.login-blue {
	color: rgb(30, 119, 221);
	margin-left: 5px;
}

.login-card h1 {
	font-size: 40px;
}

.login-card p {
	font-size: 30px;
	color: #b5b5b5;
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 50px;
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.card {
	padding: 20px;
	border: 1px solid black;
	border-radius: 25px;
}
.flex {
	display: flex;
	flex-direction: row;
	flex: auto;
}
.flex img {
	height: 40px;
	margin: 10px;
}
.flex p {
	margin: 10px;
}
